/* 	
	common.css
	attrib to http://fairheadcreative.com for share icon svgs, thanks!
	
*/
<%
	// Style calculations
	
	int pagePadding = 30;
	int fontsize60 = fontSize*0.65; 
	int fontsize40 = fontSize*0.4; 
	
%>

<%-- HTML5 reset styles --%>
<ja:include page="includes/css-reset.css" />

<%-- Headline fonts --%>
<ja:include page="includes/fonts.css" />

html, body {
	height: 100%;
}

body {
	background-color: #000;
	color: #fff;
	font-size: ${fontSize}px;
	line-height: 1.5;
	overflow: hidden;
}

h1 {
	font-size: 400%;
	line-height: 1;
	font-weight: 300;
}
h2 {
	font-size: 300%;
	line-height: 1.1;
	font-weight: 300;
}
h3 {
	font-size: 200%;
	line-height: 1.2;
	font-weight: 400;
}
h4 {
	font-size: 150%;
	font-weight: 400;
}
h5 {
	font-size: 120%;
	font-weight: 700;
}
h6 {
	font-size: 100%;
	font-weight: 700;
}
p {
	font-size: ${aboutSize}px;
	letter-spacing:1px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, 
h5:first-child, h6:first-child, p:first-child {
	margin-top: 0;
}

a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	color: ${menuColor};
}

h2 a{
	color: ${subfolderColor};
}



#logo img {
	float: left;
	display: inline-block;
}

.left-top, .right-top, .left-bottom, .right-bottom, .top-middle {
	position: absolute;
	display: inline-block;
}
.left-top, .right-top, .top-middle {
	top: 0;
}
.left-bottom, .right-bottom {
	bottom: 0;
}
.left-top, .left-bottom {
	left: 0;
}
.right-top, .right-bottom {
	right: 0;
}

.top-middle {
	width: 10%;
    margin-left: 45%;
    height: 85px;

 }

.full-page {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* --------- Video controls --------- */
.top-middle .video-control {
	/*opacity: 0;*/	
	padding:10px;	

}


.top-middle .video-control .fullscreen , .top-middle .video-control .play{
	
	margin: 10%;
	float:left;
	width:60px;
}

.top-middle .video-control .fullscreen img, .top-middle .video-control .play img{
	height: 40px;
	cursor: pointer;
	margin:10%;
}

.top-middle .video-control .fullscreen img:hover, .top-middle .video-control .play img:hover {
	height:45px;
}

/* --------- PICTURES, VIDEOS ----------- */

.carousel {
	position: absolute;
	overflow: hidden;
	left: 0;
	
}

#pictures {
	-webkit-transform: translateZ(0);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}


#pictures img{
	-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
	float: left;
	height: 100%;
	opacity: <%= opacity / 100.0 %>;
}

 #pictures video{
 		
	float: left;
	height: 100%;
	opacity: <%= opacity / 100.0 %>;
}

/* --------- THUMBNAILS ----------- */

#thumbs {
	position:absolute;
	left:0;
}

.thumbs.collapsed {
	display:none;
}

.thumbBottom {
	bottom:0;
}

.thumbTop {
	top: 0;
}

#prevThumbs {
	position: absolute;
	left:0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

#nextThumbs {
	position:absolute;
	right:0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

.thumbs {
	z-index:101;
	overflow: hidden;
}

#thumbs img {
	height: 120px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

.thumbs .thumbs-nav div {
	cursor: pointer;
	z-index: 150;
	margin-bottom: 25px;
	margin-top: 25px;
	display:inline-block;
	width:45px;
	height:70px;
	background-image:url(nav.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
.thumbs .thumbs-nav div.icon-next {
	background-position:-45px 0;
}	
.thumbs .thumbs-nav div.icon-prev:hover {
	background-position:0 -70px;
}
.thumbs .thumbs-nav div.icon-next:hover {
	background-position:-45px -70px;
}
.thumbs .thumbs-nav div.icon-prev.disabled {
	background-position:0 -140px;
	cursor:default;
}
.thumbs .thumbs-nav div.icon-next.disabled {
	background-position:-45px -140px;
	cursor:default;
}

#thumbIcons {
	margin-left:15px;
	margin-top:6px;
	width: 66px;
}

#thumbIcons .showThumbs {
	width: 12px;
	height: 12px;
	margin: 5px;
	z-index: 150;
	background-color: #aaa;
	border-radius: 1px;
	float:left;
}

#thumbnailCollapse {
	z-index: 100;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;		
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
	width: 96px;
	height: 30px;
	border-color: #aaa;
	position: absolute;
	text-align: center;
	left:50%;
}

#thumbnailCollapse h4 {	
	margin: 0;
	padding: 5px 10px;	
}
/* --------- NAVIGATION ----------- */

#navigation {
	padding: ${pagePadding}px;
}

#navigation nav {
	float: right;
}

#navigation nav a {
	cursor: pointer;
	display:inline-block;
	width:45px;
	height:70px;
	background-image:url(nav.png);
	background-position:0 0;
	background-repeat:no-repeat;	
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}
#navigation nav a.icon-next {
	background-position:-45px 0;
}	
#navigation nav a.icon-prev:hover {
	background-position:0 -70px;
}
#navigation nav a.icon-next:hover {
	background-position:-45px -70px;
}
#navigation nav a.icon-prev.disabled {
	background-position:0 -140px;
	cursor:default;
}
#navigation nav a.icon-next.disabled {
	background-position:-45px -140px;
	cursor:default;
}

/* --------- SIDEBAR ----------- */

#sidebar {
	width:15%;

	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	font-size: ${menuFontSize}px;
	padding: ${pagePadding}px;
	z-index: 99;
<ja:if not test="${hideFolders}">
}
</ja:if>
<ja:else>
	opacity: <%= menuOpacityOnHide / 100.0 %>;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

#sidebar:hover {
	opacity : 1.0;
}
</ja:else>

#sidebar h1, #sidebar h2 {
	font-size: 200%;
	margin: 0;
	line-height: 1;
	text-transform: uppercase;
	text-shadow: 1px 2px 6px rgba(0,0,0,.75);
	width:10%;
	height:20px;
}

#folders {
	font-weight: bold;
	font-size:200%;
	position: relative;
	color: #fff;
}

.title {
	position:relative;
}

 img.toggle {
  		cursor: pointer;
  	}


 #folders ul {
    list-style: none;
    padding: 0;
    text-shadow: 1px 2px 6px rgba(0,0,0,.75);
  }
 #folders ul > .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
   }   
  #folders ul .inner .show {
          /*display: block;*/
        }
    }
  
#folders ul > li {
        margin: .5em 0;
      }
 #folders ul > li > a.toggle {
            
            display: block;
        
          
            padding-left: .25em;
        	transition: background .3s ease;
        	

          }   
  #folders ul > li > a.toggle:hover {
  	color: #fff;
  } 
    
#folders ul > li > .folderTitle {
	color: ${menuColor};
}


/* --------- EXIFINFO ----------- */

#exifInfo {
	font-size: 13px;
	letter-spacing: 1px;
	min-height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	padding : 10px;
	z-index: 60;
	background-color: rgba(0,0,0,0.75);
	overflow: hidden
}

#exifInfo.collapsed {
	display:none;
}

#exifCollapse {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	padding : 10px;
	padding-right: 5px;
	margin-top: -20px;
	border-radius: 10px 0px 0px 10px;
	background-color: rgba(0,0,0,0.75);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

#exifCamera:hover {
	background-position: 0 -20px;
}

#exifCamera {
	height:20px;
	width:20px;
	background-image: url(camera.png);
	background-position: 0 0;
}

/* --------- FULLSCREEN ----------- */

#fullscreen {	
	float: right;
	z-index: 100;	
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

#fullscreenLogo {
	margin-right:10px;
	height:70px;
	width:45px;
	background-image: url(fullscreen.png);
	background-position: 0 0;
}

#fullscreenLogo:hover {
	background-position: 0 -70px;
}

/* --------- SLIDESHOW ----------- */

#slideshow {	
	float: right;
	z-index: 100;	
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

#slideshowIcon.started {
	background-image: url(pause.png);
}

#slideshowIcon.stopped {
	background-image: url(play.png);
}

#slideshowIcon {
	margin-right:10px;
	height:70px;
	width:45px;
	background-position: 0 0;
}

#slideshowIcon:hover {
	background-position: 0 -70px;
}

<%-- IMAGEINFO --%>

#imageInfo {
	z-index: 50;
	padding: ${pagePadding}px;
	color: #fff;
	text-align: right;
	text-shadow: 1px 1px 3px rgba(0,0,0,.75);
}

#imageCount {
	font-size: 400%;
	margin: 0;
	display: inline-block;
	line-height: 1;
}
#imageCount span {
	margin-left: .2em;
	padding-left: .15em;
	border-left: 1px solid #fff;
	box-shadow: -1px 0 0 #aaa;
}
#imageName {
	margin-bottom: 0;
	margin-top: 15px;
}

<%-- JALBUM --%>

#jalbum {
	margin-top:10px;
	color: #fff;
	z-index: 50;
}

#links {	
	padding: ${pagePadding}px;
}

#links a {		
	letter-spacing:1px;
}

#homepageLink {
	font-size: 120%;
}

<%-- SHARING --%>

.shares .facebook { background-image:url(svg/facebook.svg); }
.shares .twitter { background-image:url(svg/twitter.svg); }
.shares .tumblr { background-image:url(svg/tumblr.svg); }
.shares .gplus { background-image:url(svg/google-plus.svg); }
.shares .reddit { background-image:url(svg/reddit.svg); }
.shares .mail { background-image:url(svg/mail.svg); }
.shares .pinterest { background-image:url(svg/pinterest.svg); }

.sharing {
	position:relative;
	z-index: 100;
}
.shares {
	z-index: 100;
	overflow:hidden;
}
.shares a {
	z-index: 100;
	display:block;
}
.shares > a {
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	padding: 0 4px;
}

<%-- CUSTOM PAGE STYLES --%>
<ja:include page="templates/styles.css" />

article {
	margin:0 30px 0 30%;
	padding:30px 30px;
	min-height:300px;
	background-color:#111;
}
article .texts {
	text-align:left;
	overflow: hidden;
}
article aside {
	float: left;
	display: inline;
	margin-right: 30px;
	max-width: 30%;
}
article aside img, article aside video {
	max-width: 100%;
	height: auto;
}

@media screen and (orientation:portrait), screen and (max-width:1280px) {

 	body, #contact-page .texts > div, p { 
 		font-size:${fontsize60}px; 
 	}

 	#about-page h1 {
 		font-size: 240%;
 	}

 	#sidebar { 
 		font-size:80%; 
 	}
 	
 	#navigation, #links, #imageInfo, #sidebar {
		padding: <%= pagePadding / 3 %>px;
	}

	#exifInfo {
		font-size: 11px;
	}

	#thumbs img, #thumbs video {
		height: 90px;
	}
	
	.thumbs-nav {
		display: none;
	}

	#logo img, #logo video {
		max-height: 100px;
		max-width: 100px;
	}

	.shares > a {
		width: 24px;
		height: 24px;
	}

	.top-middle {
		margin-left: 20%;
	}

	
}

@media screen and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1.3), screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {

	body, #contact-page .texts > div { 
		font-size:${fontsize40}px; 
	}

	p {
		font-size:${fontsize60}px; 		
	}
	
	#imageName {
		margin-top: 10px;
		font-size: 180%;
		font-weight: 400;
	}

	article {
		margin-left: 25%;
		padding-left: 20px;
		padding-right: 20px;
	}

	#about-page h1 {
 		font-size: 240%;
 	}

 	#contact-page aside {
 		display:none;
 	}
	
	#sidebar { 
 		font-size:150%; 
		opacity: 1.0;
		transition: none;
		-webkit-transition: none;
 	}
 	
	#navigation, #links, #imageInfo, #sidebar {
		padding: <%= pagePadding / 6 %>px;
	}

	#sidebar{
		width: 30%;
	}

	#exifInfo {
		font-size: 10px;
	}

	#thumbs img {
		height: 60px;
	}	
	
	.thumbs-nav {
		display: none;
	}

	.shares > a {
		width: 24px;
		height: 24px;
		padding: 0 3px;
	}

	#logo img {
		max-height: 100px;
		max-width: 100px;
	}

	#folders {
	font-weight: bold;
	font-size:150%;
	position: relative;
	color: #fff;

	}
	
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

	body, #contact-page .texts > div { 
		font-size:${fontSize}px; 
	}

	p {
		font-size:${fontSize}px; 		
	}
	#thumbs img {
		height: 90px;
	}
	
	.thumbs-nav {
		display: none;
	}
	
	#navigation, #links, #imageInfo, #sidebar {
		padding: <%= pagePadding / 3 %>px;
	}
	#logo img {
		max-height: 150px;
		max-width: 150px;
	}
	
	.shares > a {
		width: 24px;
		height: 24px;
		padding: 0 3px;
	}
}

@media screen and (orientation:portrait) {
	#sidebar {
		opacity: 1.0;
		transition: none;
		-webkit-transition: none;
		width:40%;
	}

	.shares > a {
		width: 24px;
		height: 24px;
		float: none;
		padding: 4px 0px;
	}
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (   -o-min-device-pixel-ratio: 2/1) and (min-device-width: 1025px),
only screen and (        min-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (           min-resolution: 192dpi) and (min-device-width: 1025px),
only screen and (            min-resolution: 2dppx) and (min-device-width: 1025px) {

    body, #contact-page .texts > div { 
		font-size:${fontSize}px; 
	}

	#sidebar{
		font-size: 100%
	}

	p {
		font-size:${fontSize}px; 		
	}
	#thumbs img, #thumbs video {
		height: 120px;
	}
	#navigation, #links, #imageInfo, #sidebar {
		padding: <%= pagePadding %>px;
	}

	.thumbs-nav {
		display: block;
	}
}

<%-- HTML5 Boilerplate postfix --%>
<ja:include page="includes/css-postfix.css" />

<%-- Chosen skin style --%>
<ja:include page="styles/${style}" />

<%-- CSS hooks added through the user interface --%>
<ja:if exists="cssHook"><%= engine.processTemplate(cssHook) %></ja:if>

<%-- Debugging layers --%>
<ja:if test="${debug}" value="true"><ja:include page="includes/debug.css" /></ja:if>

