/* 
	styles.css - custom styles for the skin's Page templates
	
*/

/************** About page */

#about-page {
	margin:10px <ja:if test="${splashVertical}">2%</ja:if><ja:else>10%</ja:else>;
}
#about-page aside {
	float:left;
	display:inline;
	margin:10px 5% 10px 0;
	max-width:25%;
}
#about-page aside img {
	max-width:100%;
}
#about-page .texts {
	overflow:hidden;
}
#about-page .texts p {
	line-height:1.5em;
}

/************** Sitemap page */

#sitemap-page {
	margin:0 20px;
}
#sitemap-page aside {
	float:left;
	display:inline;
	margin:10px 5% 10px 0;
	max-width:25%;
}

#sitemap-page aside img {
	max-width:100%;
}

#sitemap-page .sitemap {
	font-size:120%;
	overflow:hidden;
}

#sitemap-page .caption {
	margin:0 0 1em 0;
}

#sitemap-page .sitemap .title {
	margin:1em 0;
}

#sitemap-page .sitemap.showthumbs .title a.home {
	display:inline-block;
	width:24px;
	height:24px;
	background-image: url(controls.png);
	background-repeat: no-repeat;
	background-position: -793px -23px;
}

#sitemap-page .sitemap ul {
	padding-left:2em;
}

#sitemap-page .sitemap.showthumbs ul {
	padding-left:0;
	list-style-type:none;
}

#sitemap-page .sitemap li {
	clear:both;
	padding:0.5em 0;
}
#sitemap-page small {
	margin-top:0.5em;
	display:block;
}

#sitemap-page .sitemap li a.thumb {
	float:left;
	display:inline-block;
	width:10%;
	max-height:48px;
	margin-right:2%;
	text-align:center;
	overflow:hidden;
}

#sitemap-page .sitemap li a.thumb img {
	display:inline-block;
	max-width:100%;
	max-height:100%;
	height:auto;
}

#sitemap-page .sitemap li div {
	overflow:hidden;
}

/************** Contact page */

#contact-page {
	margin:10px 10px 10px 5%;
}
#contact-page aside {
	float:right;
	display:inline;
	margin:0 0 10px 5%;
	max-width:25%;
}
#contact-page aside img {
	max-width:100%;
}
#contact-page .texts {
	overflow:hidden;
}
#contact-page .texts blockquote {
	font-size:80%;
	line-height:1.5em;
	padding-left:12px;
	border-left:10px solid rgba(255,255,255,0.1);
}
#contact-page .texts > div {
	font-size:20px;
	letter-spacing:1px;
	padding:15px 5px;
	border-top:1px solid rgba(255,255,255,0.2);
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#contact-page .texts blockquote,
#contact-page .texts a {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}
#contact-page .texts a {
	font-size:80%;
	padding:5px 5px 5px 26px;
	line-height:14px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color:rgba(255,255,255,0.1);
	${bs_ml}
	background-image:url(share.png);
	background-repeat:no-repeat;
}
#contact-page .facebook a { background-position:0 -22px; }
#contact-page .twitter a { background-position:0 -46px; }
#contact-page .digg a { background-position:0 -70px; }
#contact-page .myspace a { background-position:0 -94px; }
#contact-page .delicious a { background-position:0 -118px; }
#contact-page .stumbleupon a { background-position:0 -142px; }
#contact-page .email a { background-position:0 -166px; }
#contact-page .reddit a { background-position:0 -190px; }
#contact-page .tumblr a { background-position:0 -214px; }
#contact-page .flickr a { background-position:0 -238px; }
#contact-page .foursquare a { background-position:0 -262px; }
#contact-page .google a { background-position:0 -286px; }
#contact-page .linkedin a { background-position:0 -310px; }
#contact-page .picasa a { background-position:0 -334px; }
#contact-page .skype a { background-position:0 -358px; }
#contact-page .vimeo a { background-position:0 -382px; }
#contact-page .youtube a { background-position:0 -406px; }
#contact-page .phone a { background-position:0 -430px; }
#contact-page .jalbum a { background-position:0 -454px; }
#contact-page .pinterest a { background-position:0 -478px; }
#contact-page .instagram a { background-position:0 -502px; }
#contact-page .github a { background-position:0 -526px; }
#contact-page .rss a { background-position:0 -550px; }


