<%-- fonts.css --%>

<ja:switch test="${fontFamily}">
	<ja:case value="Roboto Condensed">
	@font-face {
		font-family: 'Roboto Condensed';
		font-style: normal;
		font-weight: 400;
		src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsO3ikv6SQm_yYbVf3nddkGw.woff) format('woff');
	}
	body { 
		font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
		font-weight: 400;
	}
	</ja:case>
	
	<ja:case value="Ubuntu Condensed">
	@font-face {
		font-family: 'Ubuntu Condensed';
		font-style: normal;
		font-weight: 400;
		src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntucondensed/v3/DBCt-NXN57MTAFjitYxdrO3ikv6SQm_yYbVf3nddkGw.woff) format('woff');
	}
	body { 
		font-family: "Ubuntu Condensed", "Arial Narrow", sans-serif;
		font-weight: 400;
	}
	</ja:case>
	
	<ja:case value="Cabin Condensed">
	@font-face {
		font-family: 'Cabin Condensed';
		font-style: normal;
		font-weight: 400;
		src: local('Cabin Condensed'), local('CabinCondensed'), url(http://themes.googleusercontent.com/static/fonts/cabincondensed/v4/B0txb0blf2N29WdYPJjMShduvNLjNOIIBdGcRJSaPM8.woff) format('woff');
	}
	body { 
		font-family: "Cabin Condensed", "Arial Narrow", sans-serif;
		font-weight: 400;
	}
	</ja:case>
	
	<ja:case value="Open Sans Condensed">
	@font-face {
		font-family: 'Open Sans Condensed';
		font-style: normal;
		font-weight: 300;
		src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xMTgyteJAvYJ1fpbrx49ekQ.woff) format('woff');
	}
	body { 
		font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
		font-weight: 300;
	}
	</ja:case>
	
	<ja:case value="Open Sans Condensed Bold">
	@font-face {
		font-family: 'Open Sans Condensed';
		font-style: normal;
		font-weight: 700;
		src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xPUElwBKSJspwatXPrN-vBY.woff) format('woff');
	}
	body { 
		font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
		font-weight: 700;
	}
	</ja:case>
	
	<ja:case value="Oswald">
	@font-face {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 300;
		src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/PJdA4diDmarBLqfQJB8vgg.woff) format('woff');
	}
	body {
		font-family: 'Oswald' , "Arial Narrow", sans-serif;
		font-style: normal;
		font-weight: 400;
		line-height: 1.2 !important;
	}
	</ja:case>

	<ja:case value="Oswald Bold">
	@font-face {
		font-family: 'Oswald';
		font-style: bold;
		font-weight: 700;
		src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/ALUJa0uAU8HIGzqPWncGuw.woff) format('woff');
	}
	body { 
		font-family: 'Oswald' , "Arial Narrow", sans-serif;
		font-style: bold;
		font-weight: 700;
		line-height: 1.2 !important;
	}
	</ja:case>

	<ja:case value="Yanone Kaffeesatz Light">
	@font-face {
		font-family: 'Yanone Kaffeesatz Light';
		font-style: normal;
		font-weight: 300;
		src: local('Yanone Kaffeesatz Light'), local('YanoneKaffeesatz-Light'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRaNLGymlXcQihalkb1itBKs.woff) format('woff');
	}
	body { 
		font-family: "Yanone Kaffeesatz Light", "Arial Narrow", sans-serif;
		font-weight: 300;
	}
	</ja:case>
	
	<ja:case value="Yanone Kaffeesatz Bold">
	@font-face {
		font-family: 'Yanone Kaffeesatz Bold';
		font-style: normal;
		font-weight: 700;
		src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRYaYp3VyqLksNo5XT1u9tG0.woff) format('woff');
	}	
	body { 
		font-family: "Yanone Kaffeesatz Bold", Impact, "Arial Narrow", sans-serif;
		font-weight: 700;
	}
	</ja:case>

	<ja:case value="GnuolaneFreeRegular">
	@font-face {
	    font-family: 'GnuolaneFreeRegular';
	    src: url('gnuolane_free-webfont.eot');
	    src: url('gnuolane_free-webfont.eot?#iefix') format('embedded-opentype'),
	         url('gnuolane_free-webfont.woff') format('woff'),
	         url('gnuolane_free-webfont.ttf') format('truetype'),
	         url('gnuolane_free-webfont.svg#GnuolaneFreeRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	body { 
		font-family: "GnuolaneFreeRegular", "Arial Narrow", sans-serif;
		font-weight: 400;
	}
	</ja:case>

	<ja:default>
	body { 
		font-family: ${fontFamily};
	}
	</ja:default>
	
</ja:switch>

body {
	-webkit-font-smoothing: antialiased;
}
